<div class="wrap-top">
	<nav>
		<ul>
			<li class="tk-neuzon" id="top-logo"><a href="#top">Ramendan Top</a></li>
			<li class="tk-neuzon" id="ramendan"><a href="#top">Ramendan</a></li>
			<li class="tk-neuzon" id="how"><a href="#how-it-works">How it works</a></li>
			<li class="tk-neuzon" id="how"><a href="#leaderboard">Leader board</a></li>
			<li class="tk-neuzon" id="faq"><a href="#faq">FAQ</a></li>
		</ul>
	</nav>
	<div class="main-wrap" id="top">
		<div class="content-block">
			<span class="count">July 31st ~ August 29th</span>
			<h1 id="top-ttl" class="tk-neuzon">Ramendan</h1>
			<p class="lead">A month of sacrifice in which followers eschew all other foodstuffs after sundown, to test their devotion to the almighty noodle.	
			</p>
		</div>
		<div class="content-block">
			<h2 class="ttl-main" id="how-it-works">How it works</h2>
	
			<div class="step">
				<span class="numeric-step">1</span>
				<h3>Get indoctrinated</h3>			
				<p class="note">Here's how you can follow the path to enlightenment:</p>
				<p><a href="http://twitter.com/ramendan">Follow @ramendan</a> to create your Ramendan calendar, like <a href="/jedschmidt">this</a>.</p>
				<div class="btn-outer"><a href="https://twitter.com/intent/user?screen_name=ramendan" class="btn btn-l"><span class="btn-twitter">Follow Ramendan</span></a></div>
			
			</div>	
			<div class="step">
				<span class="numeric-step">2</span>
				<h3>Show your devotion</h3>
				<p class="note">In the end, you will be judged on how well you adhere to the following tenets:</p>
				<ul class="tenets">
				  <li class="observation">
				    <strong class="badge-observation">Observation</strong> <span class="points">+3 points per day, up to 90 points</span><br/>
				    Reply to <a href="https://twitter.com/intent/user?screen_name=ramendan">@ramendan</a> after sunset between July 31st and August 29th, with a geotagged picture of noodles.
				  </li>
			
				  <li class="badge-preparation">
				    <strong>Preparation</strong>  <span class="points">+2 points</span><br/>
				    Observe Ramendan as shown above, but before Ramendan officially commences, like <a href="https://twitter.com/#!/quanza/status/96257803051737089">this</a>.
				  </li>
			
				  <li class="badge-invocation">
				    <strong>Invocation</strong>  <span class="points">+2 points</span><br/>
				    Mention <a href="">@ramendan</a> in a tweet, like <a href="http://twitter.com/woodworker/status/96494944180645888">this</a>.
				  </li>
			
				  <li class="badge-evangelism">
				    <strong>Evangelism</strong>  <span class="points">+2 points</span><br/>
				    Retweet the wisdom of @ramendan
				  </li>
			
				  <li class="badge-affirmation">
				    <strong>Affirmation</strong>  <span class="points">+2 points</span><br/>
				    End a tweet with <code>#rAmen, like <a href="http://twitter.com/jedschmidt/status/96254511248703489">this</a>.</code>
				  </li>
			
				  <li class="badge-discipline">
				    <strong>Discipline</strong>  <span class="points">+2 points</span><br/>
				    Observe all 30 nights of Ramendan.
				  </li>
				</ul>
			</div>
		
			<div class="step">
				<span class="numeric-step">3</span>			
				<h3>Seek validation</h3><br/>			
				<p>Check your calendar at <code>http://ramendan.com/&lt;your-twitter-name&gt;</code> to see how you stack up against the rest of the congregation.<br/><br/>
				<div class="btn-outer"><a href="" class="btn btn-l"><span class="btn-twitter">Follow Ramendan</span></a></div>
				</p>
			</div>
		
		</div>
		
		
		<div class="content-block cf" id="leaderboard">
			<h2 class="ttl-main">Leaderboard</h2>
			<ul>
				{{#users}}
					<li class="cf">
						<a href="/users/{{handle}}" class="leader-pic"><img src="{{img}}" width="48" height="48"></a>
						<a href="/users/{{handle}}">{{handle}}</a><br>
						{{score}}pts<br>
						{{country}}<br>
					</li>
				{{/users}}
			</ul>
		</div>
		
		<div class="content-block cf">
			<h2 class="ttl-main" id="faq">FAQ</h2>
			<dl class="faq-block">
				<dt>What is ramen?</dt>
				<dd>
					<p>Wikipedia <a href="http://en.wikipedia.org/wiki/Ramen">describes ramen</a> as:</p>
					<blockquote>a Japanese noodle dish [that] consists of Chinese-style wheat noodles served in a meat- or fish-based broth.</blockquote>
					<p>Anything on that page, including the <a href="http://en.wikipedia.org/wiki/Ramen#Related_dishes">related dishes</a>, is fair game.</p>
				</dd>
			</dl>
		</div>
	<small>&copy; 2011 Jed Schmidt &amp; Minja Töniges</small>
	</div>
	
</div>