<html> 
  <head> 
    <title>{{page_title}}</title>
    <script type="text/javascript" src="http://use.typekit.com/oqd2vvf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <style type="text/css">.tk-neuzon{font-family:"neuzon-1","neuzon-2",sans-serif;}</style>
    <link rel="stylesheet" href="/styles/styles.css" /> 
  <body>
    {{{body}}}
  </body> 
</html>