<!--{{src}}-->
<div class="wrap">
	<header class="cf">
  	<div id="logo-box"><h1 id="logo-user" ><a href="../"><span class="tk-neuzon">Ramendan</span><span class="period">August 2011</span></a></h1></div>
		<ul class="user-stats cf">
			<li class="user-name"><a href="http://twitter.com/{{handle}}" class="twitter-user-img"><img height="48" width="48" src="{{img}}" alt="{{handle}}" class="user-profile-link"></a><a href="http://twitter.com/{{handle}}">{{name}}</a></li>
			<!-- show different classes for statuses
				devotee
				infidel etc
			-->
			<li class="user-status devotee">Devotee<span>Status</span></li>
			<li class="user-progress">{{score}} / 100<span>Progress</span></li>
		</ul>
	</header>

	<div class="badge-box cf">
		<div class="badge-col">
			<strong class="badge-ttl">Badges <span class="badge-ttl-sub">2pts / each</span></strong>
			<div class="badge-item badge-preparation{{#practice}} unlocked{{/practice}}">
				<strong>Preparation</strong> {{#practice}}UNLOCKED!{{/practice}}
				<p>send a valid observance tweet before ramendan starts</p>
			</div>
		</div>
		<div class="badge-col">
			<div class="badge-item badge-invocation{{#retweet}} unlocked{{/retweet}}">
				<strong>Invocation</strong> {{#retweet}}UNLOCKED!{{/retweet}}
				<p>native retweet a @ramendan tweet</p>
			</div>
			<div class="badge-item badge-evangelism{{#hashtag}} unlocked{{/hashtag}}">
				<strong>Evangelism</strong> {{#hashtag}}UNLOCKED!{{/hashtag}}
				<p>end a tweet with <code>#rAmen.</code></p>
			</div>
		</div>	
		<div class="badge-col badge-col-last">
			<div class="badge-item badge-reverence{{#mention}} unlocked{{/mention}}">
				<strong>Reverence</strong> {{#mention}}UNLOCKED!{{/mention}}
				<p>mention @ramendan</p>
			</div>
			<div class="badge-item badge-discipline{{#all}} unlocked{{/all}}">
				<strong>Discipline</strong> {{#all}}UNLOCKED!{{/all}}
				<p>observe all 30 nights of ramendan</p>
			</div>
		</div>				
	</div>
	
	<div class="calendar-box cf">
		<ul class="weekday-names cf">
			<li>Mon</li>
			<li>Tue</li>
			<li>Wed</li>
			<li>Thu</li>
			<li>Fri</li>
			<li>Sat</li>
			<li>Sun</li>
		</ul>

		<div class="box-invalid">	
			<div class="invalid-entry cf">
				{{#latest}}
					<img src="{{thumb}}" class="thumb" width="{{thumbWidth}}" height="{{thumbWidth}}"/>
					<div class="invalid-details">
						<strong>Here is your latest entry.</strong>
						<span class="invalid-msg"> {{#invalid}}(though it doesn't count in this case){{/invalid}}</span>						
						<span>{{text}}</span>						
					</div>
				{{/latest}}	
			</div>			
		</div>
		

		{{#entries}}
			{{#time}}
				<div class="day day-ramen">
					<strong class="day-date">{{#day}}{{day}}{{/day}}{{^day}}31{{/day}}</strong>
					<a href="http://twitter.com/{{handle}}{{uri}}" class="pic-link"><img src="{{thumb}}" height="{{thumbHeight}}" width="{{thumbWidth}}" class="pic"/></a>
					<span class="tweet">
						<span class="tweet-content">{{text}}</span>
						<span class="speech-bubble">&nbsp;</span>
					</span>
				</div>
			{{/time}}

			{{^time}}
				{{#future}}
					<div class="day day-future">
						<strong class="day-date">{{#day}}{{day}}{{/day}}{{^day}}31{{/day}}</strong>
						<span>3 pts</span>
					</div>
				{{/future}}

				{{^future}}
					<div class="day day-missed">
						<strong class="day-date">{{#day}}{{day}}{{/day}}{{^day}}31{{/day}}</strong>
						<img src="/img/day-missed.png" class="pic"/>
					</div>
				{{/future}}
			{{/time}}
		{{/entries}}
	
	</div>
	<small>&copy; 2011 Jed Schmidt &amp; Minja Toeniges</small>
</div>