<div class="wrap-top">
	<div class="main-wrap  not-found">
		<header>
			<div id="logo-box"><h1 id="logo-user" ><a href=""><span class="tk-neuzon">Ramendan</span><span class="period">August 2011</span></a></h1></div>
		</header>	
		<div>{{name}} hasn't signed up yet!</div>
		<div><a href="https://twitter.com/intent/tweet?text=hey%20{{name}}%2C%20sign%20up%20for%20ramendan!&url=http://ramendan.com/">Tell them</a> to sign up!</div>
	</div>
</div>