/************************
RESETS
**********************/

* {margin:0;padding:0;}
body {line-height:1;}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { display:block;}
strong, b {font-weight:bold;}
nav ul { list-style:none;}

a { border:0;
    vertical-align:baseline;
    background:transparent;
    font-weight:bold;
    outline:0 none;
    color:#FF6600;
    text-decoration:none;
    }
    
a:hover {color:#FF6600; text-decoration:underline;}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
    }

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
    }

del {text-decoration: line-through;}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
    }

table {border-collapse:collapse;border-spacing:0; width:100%;}

input, select {vertical-align:middle;}
select{border:1px solid #CCC;}

img, fieldset {border:0;}

li {list-style: none;}

table {border-collapse: collapse;}
td, th {vertical-align: top;}

body {
    font-family: Helvetica, Arial, Verdana,"ＭＳ Ｐゴシック","ＭＳ ゴシック",  "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka","MS PGothic", sans-serif;
    line-height:150%;
    color:#FFF;
    background-color:#000;    
    background-image: -moz-linear-gradient(center top, #FF6600 0%, #000 150px); 
  	background-image: -webkit-gradient(linear, 0% 0%, 0% 150, from(#FF6600), to(#000000));
  	background:#000 url(/img/bg.png) no-repeat 50% 0;
    font-size:18px;
    }

header a {color:#FFF;}

/************************
COMMON
**********************/

.btn-outer {padding:20px 0;}
.btn {
    color:#444;
    -moz-border-radius: 4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    background:#DDDDDD;
    background: -moz-linear-gradient(center top, #FFF 0%, #DDDDDD 100%);
    background: -webkit-gradient(linear,left top, left bottom, from(#FFF), to(#DDDDDD));
    font-weight:normal;
    text-align:center;
    cursor: pointer;
    border:none;
    text-shadow: 0 1px 0 #FFFFFF;
    -moz-box-shadow: 1px 1px 1px #000;
    -webkit-box-shadow: 1px 1px 1px #000;
    box-shadow: 1px 1px 1px #000; 
    text-decoration:none;
	}
	
.btn:hover {
    background:#666;
    color:#000;
    background: -moz-linear-gradient(center top, #DDD 0%, #AAA 100%);
    background: -webkit-gradient(linear,left top, left bottom, from(#DDD), to(#AAA));
    text-decoration:none;
	}

.btn-l {
	padding: 12px 10px 12px 10px;    
	font-size:18px;
	}	
	
.btn-s {
	padding:5px;
	font-size:12px;
	}

.btn-twitter {
	background: url(/img/twitter-icon.png) no-repeat 0 center;
	padding:5px 5px 5px 40px; 
	}
	
.btn-twitter-s {
	background: url(/img/twitter-icon-s.png) no-repeat 0 center;
	padding:5px 5px 5px 30px; 	
	}
	
.center {text-align:center;}

/************************
TOP
**********************/
.wrap-top {background: url(/img/logo-bg.png) no-repeat right -100px;}
.count {display:block; color:#CCC ; color:rgba(250, 250, 250, 1) ; padding-top:50px;}
#top-ttl {font-size:100px; color:#FFF; line-height:100%; }
.lead {padding-bottom:80px;}
nav {
	position:fixed;
	top:-10px;
	left:10px;
	border:5px solid #FFF;
	background: rgba(0, 0, 0, 0.5);
	border-top:none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width:140px;
	}
nav ul {padding:20px 10px;}	
nav ul li {text-align:center; padding-bottom: 15px; line-height:110%; font-size:16px;}
nav ul li a {color:#FFF;}
nav ul li a:hover {color:#FF6600; text-decoration:none;}

.main-wrap {
	padding:20px 0 0 0;
	width:700px;
	margin:0 auto;
	}

.content-block {
	margin-bottom:40px;
	border-bottom:1px dotted #666;
	padding-bottom:20px;
	line-height:150%;
	color:#CCC;
	}

	
.step h3 {font-size:30px; color:#FFF;}

.block {padding-bottom:40px;}

.step {
	padding:0 0 50px 90px;
	position:relative;
	text-align:left;
	}

.ttl-main {padding-bottom:25px; color:rgba(250, 250, 250, 0.3);}

.numeric-step {
	color:#666;
	color:rgba(250, 250, 250, 0.3);
	font-size:120px;
	font-weight:bold;
	position:absolute;
	left:0;
	top:35px;
	}
	
.tenets {padding:10px 0;}
.tenets li {
	padding:5px 0 35px 0;
	}
.tenets li strong {display:block; color:#FFF;}
.points {color:#666;}

blockquote {padding-bottom:10px;}

.note {
	font-style:italic;
	line-height:130%;
	color:rgba(250, 250, 250, 0.3);
	}

.ttl-main#faq {float:left; width:90px;}
.faq-block {
	float:left;
	width:610px;
	}

.faq-block dt {
	padding-bottom:10px;
	font-size:30px;
	color:#FFF;
	font-weight:bold;
	}

/************************
USER PAGE
**********************/
.wrap {width:950px; margin:0 auto; position:relative;}

header {padding-bottom:30px;}

#logo-box {
	padding:15px 20px 10px 15px;
	background: rgba(0, 0, 0, 0.5);
	float:left;
	border:5px solid #FFF;
	border-top:none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position:absolute;
	top:-10px;
	}
	
#logo-user {
	background: url(/img/logo-trans-s.png) no-repeat 0 0;
	font-size:22px;
	line-height:100%;
	padding:8px 0 5px 60px;
	}
#logo-user a {text-decoration:none;}
#logo-user a:hover {color:#FFF;}
	
#logo-user span {
	font-size:16px;
	display:block;
	}

.user-stats {
	float:right;
	padding-top:20px;
	}
	
.user-stats li {float:left;padding:0 20px;border-right:1px solid #FFF; line-height:110%; height:50px;}
.user-stats li span {color:rgba(250, 250, 250, 0.5);  font-size:14px; display:block;}
.user-stats .user-name {font-size:30px;}
.user-stats .user-name a {text-decoration: none;}
.user-stats .user-name .twitter-user-img {float:left; padding-right:10px;}
.user-stats .user-name .twitter-user-img img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	}
.user-stats .user-progress {border:none;}

.badge-box {
	padding:20px;
	background: rgba(0, 0, 0, 0.3);
	margin-bottom:30px;
	}
	
.badge-box .badge-col {float:left; width:270px; padding-right:40px;}
.badge-box .badge-col-last {padding-right:0;}
.badge-ttl {display:block; padding-bottom:20px; height:30px;}
.badge-ttl-sub {font-size:14px; color:rgba(255, 255, 255, 0.5);}

.badge-item {font-size:14px; line-height:120%; height:30px; padding:0 0 20px 35px;}
.badge-item strong, .badge-item p { color:rgba(255, 255, 255, 0.5);}

.badge-preparation {background:url(/img/badge-preparation-locked.png) no-repeat 0 0;}
.badge-invocation {background:url(/img/badge-preparation-locked.png) no-repeat 0 0;}
.badge-evangelism {background:url(/img/badge-preparation-locked.png) no-repeat 0 0;}
.badge-reverence {background:url(/img/badge-preparation-locked.png) no-repeat 0 0;}
.badge-discipline {background:url(/img/badge-preparation-locked.png) no-repeat 0 0;}

.badge-item.unlocked strong {color:rgba(255, 255, 255, 1);}
.badge-preparation.unlocked {background:url(/img/badge-preparation.png) no-repeat 0 0;}
.badge-invocation.unlocked {background:url(/img/badge-preparation.png) no-repeat 0 0;}
.badge-evangelism.unlocked {background:url(/img/badge-preparation.png) no-repeat 0 0;}
.badge-reverence.unlocked {background:url(/img/badge-preparation.png) no-repeat 0 0;}
.badge-discipline.unlocked {background:url(/img/badge-preparation.png) no-repeat 0 0;}

.calendar-box {padding-bottom:40px;}

.weekday-names li {
	padding:5px 2px 5px 2px;
	width:131px;
	float:left;
	text-align:center;
	}

.day {height:133px; width:133px;
	border-right:2px solid #000;
	border-bottom:2px solid #000;
	float:left; 
	text-align:center;
	position:relative;
	}
	
.day.day-future {background:url(/img/day-future.jpg) no-repeat 0 0; 	color:#000;}
.day.day-future strong {
	display:block;
	padding-top:50px;
	font-size:30px;
	}

.day.day-future span {font-weight:bold; font-size:14px;}

.day a {
	display:block;
	height:133px; width:133px;
	overflow:hidden;
	text-align:center;
	}
	

.tweet {
	background: #FFF;
	width:280px;
	display: block;
	padding:10px;
	border:4px solid #000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position:absolute;
	top:-100px;
	left:-90px;
	z-index:10;
	line-height:120%;
	vertical-align: middle;
	position:relative;
	}	

.tweet-content {color:#000; font-weight:bold;}
.speech-bubble {
	display:block;
	width:280px;
	background: url(/img/bubble-btm.png) no-repeat 50% bottom;
	position:absolute;
	bottom:-20px;
	}

/************************
CLEARS
**********************/
.cf:before, .cf:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;
}

.cf:after { clear: both; }
.cf { zoom: 1; }

/************************
MOBILE
**********************/

@media screen and (max-width: 800px) {
	nav, #logo-box {position:inherit; margin-top:-10px; width:auto;}
	nav ul {display:inline; }
	nav ul li {display:inline; padding-right:10px;}
	.count {margin-top:10px;}
	.count, .lead {text-align:center;}
	#top-ttl {font-size:5em; text-align:center; }
	.main-wrap {width:auto; padding:0 15px 15px 15px;}
	.faq-block, .ttl-main#faq, .user-stats, #logo-box  {float:none;}
	.faq-block, .wrap {width:auto;}
	.weekday-names {display:none;}
	
	.day{float:none; width:auto; clear:both; background: rgba(0, 0, 0, 0.5); }
	.day-none {display:none;}
	.badge-box {padding-bottom:0;}
	.day .pic-link {float:left; width:80px;}
	.pic {float:left; display:block; width:80px; height:80px;}
	.speech-bubble {display:none;}	
	.tweet {
		background:none;
		float:left;
		height:80px;	
		width:280px;
		display: inline;
		padding:10px;
		border:none;
		position:inherit;
		font-size:14px;
		top:inherit;
		left:inherit;		
		z-index:auto;
		line-height:150%;
		vertical-align: middle;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		border-bottom:1px solid #000;	
		text-align:left;	
		}
	.tweet-content {display:inline; color:#FFF;}
	.day:before, .day:after {
	  content: "\0020"; display: block; height: 0; visibility: hidden;
	}
	
	.day:after { clear: both; }
	.day { zoom: 1; }

}

