<h1>Ramendan 2011</h1>
<p>A month of sacrifice in which followers eschew all other foodstuffs, to test their devotion to the almighty noodle.</p>

<h2>How it works</h2>
<h3>Step 1: Get indoctrinated</h3>
<p>Here's how you can follow the path to enlightenment:</p>
<ol>
  <li><a href="http://twitter.com/ramendan">Follow @ramendan</a> to create your Ramendan calendar, like <a href="/jedschmidt">this</a>.</li>
  <li>Follow the tenets below to the best of your abilities.</li>
</ol>

<h3>Step 2: Show your devotion</h3>
<p>In the end, you will be judged on how well you adhere to the following tenets:</p>
<ul>
  <li>
    <strong>Observation</strong> (+3 points per day, up to 90 points):
    Reply to @ramendan after sunset between July 31st and August 29th, with a geotagged picture of noodles.
  </li>

  <li>
    <strong>Preparation</strong> (+2 points):
    Observe Ramendan as shown above, but before Ramendan officially commences, like this:
    <br>
    <img src="...">
  </li>

  <li>
    <strong>Invocation</strong> (+2 points):
    Mention @ramendan in a tweet, like this:
    <br>
    <img src="...">
  </li>

  <li>
    <strong>Evangelism</strong> (+2 points):
    Retweet the wisdom of @ramendan, like this:
    <br>
    <img src="...">
  </li>

  <li>
    <strong>Affirmation</strong> (+2 points):
    End a tweet with <code>#rAmen.</code>, like this:
    <br>
    <img src="...">
  </li>

  <li>
    <strong>Discipline</strong> (+2 points):
    Observe all 30 nights of Ramendan.
  </li>
</ul>

<h3>Step 3: Seek validation</h3>
<p>Check your calendar at <code>http://ramendan.com/&lt;your-twitter-name&gt;</code> to see how you stack up against the rest of the congregation.</p>

<h2>FAQ</h2>

<h3>What is ramen?</h3>
<p>Wikipedia <a href="http://en.wikipedia.org/wiki/Ramen">describes ramen</a> as:</p>
<blockquote>a Japanese noodle dish [that] consists of Chinese-style wheat noodles served in a meat- or fish-based broth.</blockquote>
<p>Anything on that page, including the <a href="http://en.wikipedia.org/wiki/Ramen#Related_dishes">related dishes</a>, is fair game.</p>