<nav>
  <ul>
    <li><a href="">Ramendan</a></li>
    <li><a href="">Rules</a></li>
    <li><a href="">Leaders</a></li>
    <li><a href="">Followers</a></li>
    <li><a href="">What is Ramen</a></li>
  </ul>
</nav>
<div class="main-wrap">
  <span>44days until..</span><br/>
  <img src="/img/logo-ramendan32-trans.png" width="200" height="200" >
  <h1 id="top-ttl">Ramendan</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <a href="">Follow Ramendan</a>
  
  <h2>Rules</h2>
  <div class="box-wh">
    <div></div>
    <br/>
    <br/>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    
  </div>


</div>
