<div class="wrap">
  <header class="cf">
    <div id="logo-box"><h1 id="logo-user"><a href="">Ramendan<span>August 2011</span></a></h1></div>
    <ul class="user-stats cf">
      <li class="user-name"><a href="" class="twitter-user-img"><img height="48" width="48" src="<%= img %>" alt="<%= name %>" class="user-profile-link" data-user-id="815114"></a><a href=""><%= handle %></a></li>
      <!-- show different classes for statuses
        devotee
        infidel etc
      -->
      <li class="user-status devotee">Devotee<span>Status</span></li>
      <li class="user-progress"><%= score %> / 100<span>Progress</span></li>
    </ul>
  </header>

  <div class="badge-box cf">
    <div class="badge-col">
      <strong class="badge-ttl">Unlocked Badges <span class="badge-ttl-sub">2pts / each</span></strong>
    </div>
    <div class="badge-col">
      <div class="badge-item badge-invocation <%= obj.mention ? 'unlocked' : '' %>">
        <strong>Invocation</strong>
        <p>mention @ramendan</p>
      </div>
      <div class="badge-item badge-evangelism <%= obj.retweet ? 'unlocked' : '' %>">
        <strong>Evangelism</strong>
        <p>native retweet a @ramendan tweet</p>
      </div>
    </div>	
    <div class="badge-col badge-col-last">
      <div class="badge-item badge-reverence <%= obj.hashtag ? 'unlocked' : '' %>">
        <strong>Reverence</strong>
        <p>send a tweet with “#rAmen.”</p>
      </div>
      <div class="badge-item badge-discipline <%= obj.all ? 'unlocked' : '' %>">
        <strong>Discipline</strong>
        <p>observe all 30 nights of ramendan</p>
      </div>
    </div>				
  </div>

  <div class="calendar-box">
  
    <ul class="weekday-names cf">
      <li>Sun</li>
      <li>Mon</li>
      <li>Tue</li>
      <li>Wed</li>
      <li>Thu</li>
      <li>Fri</li>
      <li>Sat</li>
    </ul>
    
    <div class="calendar cf">
      <!--NOTE 
        statuses are:
        day-missed 
        day-ramen 
        day-future			
      -->
    
    
      <!--week 1-->
      <div class="day">
        
      </div>
      <div class="day day-missed">
        <img src="/img/day-missed.png" />
      </div>
      <div class="day day-missed">
        <img src="/img/day-missed.png" />
      </div>
      <div class="day day-ramen">
        <a href="">
          <img src="/img/ramen1.jpg" />
        </a>
        
        <!--jquery?-->
        <span class="tweet">
          <span class="tweet-content">Afuri gentei  ramen, so yummy! Could eat everyday @ramendan. mmmhh I would like to have one tomorrow too. yup. actually am hungry right now.</span>
          <span class="speech-bubble">&nbsp;</span>
        </span>
      </div>									
      <div class="day day-ramen">
        <a href=""><img src="/img/ramen1.jpg" /></a>
        <span class="tweet" style="display:none;">
          <span class="tweet-content">Afuri gentei  ramen, so yummy! Could eat everyday @ramendan. mmmhh I would like to have one tomorrow too. yup. actually am hungry right now.</span>
          <span class="speech-bubble">&nbsp;</span>
        </span>						
      </div>
      <div class="day day-missed">
        <img src="/img/day-missed.png" />
      </div>
      <div class="day day-ramen">
        <a href=""><img src="/img/ramen1.jpg" /></a>
        <span class="tweet" style="display:none;">
          <span class="tweet-content">Afuri gentei  ramen, so yummy! Could eat everyday @ramendan. mmmhh I would like to have one tomorrow too. yup. actually am hungry right now.</span>
          <span class="speech-bubble">&nbsp;</span>
        </span>							
      </div>				
      
      <!--week 2-->
      <div class="day day-ramen">
        <a href=""><img src="/img/ramen1.jpg" /></a>
        <span class="tweet" style="display:none;">
          <span class="tweet-content">Afuri gentei  ramen, so yummy! Could eat everyday @ramendan. mmmhh I would like to have one tomorrow too. yup. actually am hungry right now.</span>
          <span class="speech-bubble">&nbsp;</span>
        </span>							
      </div>
      <div class="day day-missed">
         <img src="/img/day-missed.png" />
      </div>
      <div class="day day-ramen">
        <a href=""><img src="/img/ramen1.jpg" /></a>
        <span class="tweet" style="display:none;">
          <span class="tweet-content">Afuri gentei  ramen, so yummy! Could eat everyday @ramendan. mmmhh I would like to have one tomorrow too. yup. actually am hungry right now.</span>
          <span class="speech-bubble">&nbsp;</span>
        </span>							
      </div>
      <div class="day day-ramen">
        <a href=""><img src="/img/ramen1.jpg" /></a>
        <span class="tweet" style="display:none;">
          <span class="tweet-content">Afuri gentei  ramen, so yummy! Could eat everyday @ramendan. mmmhh I would like to have one tomorrow too. yup. actually am hungry right now.</span>
          <span class="speech-bubble">&nbsp;</span>
        </span>							
      </div>									
      <div class="day day-missed">
        <img src="/img/day-missed.png" />
      </div>
      <div class="day day-ramen">
        <a href=""><img src="/img/ramen1.jpg" /></a>
        <span class="tweet" style="display:none;">
          <span class="tweet-content">Afuri gentei  ramen, so yummy! Could eat everyday @ramendan. mmmhh I would like to have one tomorrow too. yup. actually am hungry right now.</span>
          <span class="speech-bubble">&nbsp;</span>
        </span>							
      </div>
      <div class="day day-ramen">
        <a href=""><img src="/img/ramen1.jpg" /></a>
        <span class="tweet" style="display:none;">
          <span class="tweet-content">Afuri gentei  ramen, so yummy! Could eat everyday @ramendan. mmmhh I would like to have one tomorrow too. yup. actually am hungry right now.</span>
          <span class="speech-bubble">&nbsp;</span>
        </span>							
      </div>

      <!--week 3-->
      <div class="day day-future">
        <strong>14</strong>
        <span>2pts</span>
      </div>
      <div class="day day-future">
        <strong>15</strong>
        <span>2pts</span>
      </div>
      <div class="day day-future">
        <strong>16</strong>
        <span>2pts</span>
      </div>
      <div class="day day-future">
        <strong>17</strong>
        <span>2pts</span>
      </div>									
      <div class="day day-future">
        <strong>18</strong>
        <span>2pts</span>
      </div>
      <div class="day day-future">
        <strong>19</strong>
        <span>2pts</span>
      </div>
      <div class="day day-future">
        <strong>20</strong>
        <span>2pts</span>
      </div>
      
      <!--week 4-->
      <div class="day day-future">
        <strong>21</strong>
        <span>2pts</span>
      </div>
      <div class="day day-future">
        <strong>22</strong>
        <span>2pts</span>
      </div>
      <div class="day day-future">
        <strong>23</strong>
        <span>2pts</span>
      </div>
      <div class="day day-future">
        <strong>24</strong>
        <span>2pts</span>
      </div>									
      <div class="day day-future">
        <strong>25</strong>
        <span>2pts</span>
      </div>
      <div class="day day-future">
        <strong>26</strong>
        <span>2pts</span>
      </div>
      <div class="day day-future">
        <strong>27</strong>
        <span>2pts</span>
      </div>
      
      <!--week 5-->
      <div class="day day-future">
        <strong>28</strong>
        <span>2pts</span>
      </div>
      <div class="day day-future">
        <strong>29</strong>
        <span>2pts</span>
      </div>
      <div class="day day-future">
        <strong>30</strong>
        <span>2pts</span>
      </div>
      <div class="day day-future">
        <strong>31</strong>
        <span>2pts</span>
      </div>
    </div>			

    <ul class="weekday-names cf">
      <li>Sun</li>
      <li>Mon</li>
      <li>Tue</li>
      <li>Wed</li>
      <li>Thu</li>
      <li>Fri</li>
      <li>Sat</li>
    </ul>
  </div>
</div>