<div class="wrap">
  <header class="cf">
    <div id="logo-box"><h1 id="logo-user"><a href="">Ramendan<span>August 2011</span></a></h1></div>
    <ul class="user-stats cf">
      <li class="user-name"><a href="" class="twitter-user-img"><img height="48" width="48" src="<%= img %>" alt="<%= name %>" class="user-profile-link" data-user-id="815114"></a><a href=""><%= handle %></a></li>
      <!-- show different classes for statuses
        devotee
        infidel etc
      -->
      <li class="user-status devotee">Devotee<span>Status</span></li>
      <li class="user-progress"><%= score %> / 100<span>Progress</span></li>
    </ul>
  </header>
  
  <% if (obj.latest) { %>
  <div>latest:</div>
  <div>
    <a href="<%= latest.url %>">
      <img src="<%= latest.thumb %>" height="<%= latest.thumbHeight %>" width="<%= latest.thumbWidth %>">
    </a>
    <p><%= latest.text %></p>
  </div>
  <% } %>
  
  <div class="badge-box cf">
    <div class="badge-col">
      <div>
        <strong class="badge-ttl">Unlocked Badges <span class="badge-ttl-sub">2pts / each</span></strong>
      </div>
      <div class="badge-item badge-preparation <%= obj.practice ? 'unlocked' : '' %>">
        <strong>Preparation</strong> (+2 points):
        <p>Observe Ramendan before it officially commences, like <a href="#">this</a>.</p>
      </div>
    </div>
    <div class="badge-col">
      <div class="badge-item badge-invocation <%= obj.mention ? 'unlocked' : '' %>">
        <strong>Invocation</strong> (+2 points):
        <p>Mention @ramendan in a tweet, like <a href="#">this</a>.</p>
      </div>
      <div class="badge-item badge-evangelism <%= obj.retweet ? 'unlocked' : '' %>">
        <strong>Evangelism</strong> (+2 points):
        <p>Retweet the wisdom of @ramendan, like <a href="#">this</a>.</p>
      </div>
    </div>	
    <div class="badge-col badge-col-last">
      <div class="badge-item badge-reverence <%= obj.hashtag ? 'unlocked' : '' %>">
        <strong>Affirmation</strong> (+2 points):
        <p>End a tweet with <code>#rAmen.</code>, like <a href="#">this</a>.</p>
      </div>
      <div class="badge-item badge-discipline <%= obj.all ? 'unlocked' : '' %>">
        <strong>Discipline</strong> (+2 points):
        <p>Observe all 30 nights of Ramendan.</p>
      </div>
    </div>				
  </div>

  <div class="calendar-box">
  
    <ul class="weekday-names cf">
      <li>Mon</li>
      <li>Tue</li>
      <li>Wed</li>
      <li>Thu</li>
      <li>Fri</li>
      <li>Sat</li>
      <li>Sun</li>
    </ul>
    
    <div class="calendar cf">
      <!--NOTE 
        statuses are:
        day-missed 
        day-ramen 
        day-future			
      -->
    
      <div class="day"><strong>25</strong></div>
      <div class="day"><strong>26</strong></div>
      <div class="day"><strong>27</strong></div>
      <div class="day"><strong>28</strong></div>
      <div class="day"><strong>29</strong></div>
      <div class="day"><strong>30</strong></div>
      
      <% for ( var
          today = (0 | new Date / 86400000) - 15185,
          i = 0,
          entry = obj.entries[0];
          i < 30;
          entry = obj.entries[++i]
      ) { %>
      
          <% if (entry) { %>
	          <div class="day day-ramen" style="background-image: url(<%= entry.thumb%>)">
			        <span class="tweet">
			          <span class="tweet-content"><%= entry.text %></span>
			          <span class="speech-bubble">&nbsp;</span>
			        </span>
            </div>
          <% } else if (i < today) { %>
	          <div class="day day-missed" style="background-image:url(/img/day-missed.png)">
            </div>
          <% } else { %>
	          <div class="day day-future">
			        <strong><%= i || 31 %></strong><br>
			        <span>3pts</span>
            </div>
          <% } %>

      <% } %>

    <div class="day"><strong>30</strong></div>
    <div class="day"><strong>31</strong></div>
    <div class="day"><strong>1</strong></div>
    <div class="day"><strong>2</strong></div>
    <div class="day"><strong>3</strong></div>
    <div class="day"><strong>4</strong></div>		

    <ul class="weekday-names cf">
      <li>Mon</li>
      <li>Tue</li>
      <li>Wed</li>
      <li>Thu</li>
      <li>Fri</li>
      <li>Sat</li>
      <li>Sun</li>
    </ul>
  </div>
</div>